/* 標準色
米黃：rgb(255,242,204)
橘：rgb(252,174,107)
淺綠：rgb(92,173,128)
深綠：rgb(26,70,60)
紅：rgb(199,62,58)

*/
.bg-std-red {
  background-color: rgb(199,62,58);
}

.bg-std-orange {
  background-color: rgb(252,174,107);
}

.bg-std-light-green {
  background-color: rgb(92,173,128);
}

.bg-std-dark-green {
  background-color: rgb(26,70,60);
}

.vh-100 {
  height: 100vh;
}

.nav-link {
  cursor: pointer;
  color: black;
  font-weight: bold;
}

#navbar {
  padding-top: 0;
}